@model List<App.Models.BookCategory>

<div class="site-header d-none d-lg-block">
    <div class="header-middle pt--10 pb--10">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3 ">
                    <a href="/" class="site-brand">
                        <img src="~/Content/Client/img/logo.png" alt="">
                    </a>
                </div>
                <div class="col-lg-3">
                </div>
                <div class="col-lg-6">
                    <div class="main-navigation flex-lg-right">
                        <ul class="main-menu menu-right ">
                            <li class="menu-item">
                                <a href="/">
                                    Home
                                </a>
                            </li>
                            <!-- Shop -->
                            <!-- Books -->
                            <li class="menu-item">
                                <a href="/Books">
                                    Books
                                </a>
                            </li>
                            <!-- Flavors -->
                            <li class="menu-item">
                                <a href="/Flavors">
                                    Flavors
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="/Feedbacks">Feedback</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom pb--10">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <nav class="category-nav">
                        <div>
                            <a href="javascript:void(0)" class="category-trigger">
                                <i class="fa fa-bars"></i>Browse
                                categories
                            </a>
                            <ul class="category-menu">
                                @foreach (var item in Model)
                                {
                                    var url = "/Books/" + item.Slug + "-" + item.Id;
                                    <li class="cat-item "><a href="@url" name="catBook">@item.Name</a></li>
                                }
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="col-lg-5">
                    <div class="header-search-block">
                        @using(Html.BeginForm("Search", "Books", FormMethod.Get))
                        {
                            <input value="@ViewBag.search" name="search" type="text" placeholder="Search entire store here">
                            <button type="submit">Search</button>
                        }
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="main-navigation flex-lg-right">
                        <div class="cart-widget">
                            @if (Session["Customer"] == null)
                            {
                                <div class="login-block">
                                    <a href="@Url.Action("Login", "Customer")" class="font-weight-bold">Login</a> <br>
                                    <span>or</span><a href="@Url.Action("Register", "Customer")">Register</a>
                                </div>
                            }
                            else
                            {
                                var customer = (App.Models.Customer)Session["Customer"];
                                <div style="" class="login-block signed-in">
                                    Hello, <br /><b>@customer.Name</b>
                                    <div class="login-dropdown-block">
                                        <ul class="mega-single-block">
                                            <li><a href="@Url.Action("Orders", "Customer")">Orders</a></li>
                                            <li><a href="@Url.Action("Flavors", "Customer")">Flavors Management</a></li>
                                            <li><a href="@Url.Action("Membership", "Customer")">Membership</a></li>
                                            <li><a href="@Url.Action("Detail", "Customer")">Account</a></li>
                                            <li><a href="@Url.Action("ChangePassword", "Customer")">Change password</a></li>
                                            <li><a href="@Url.Action("Logout", "Customer")">Logout</a></li>
                                        </ul>
                                    </div>
                                </div>
                            }
                            @Html.Action("CartBlock", "Cart")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="site-mobile-menu">
    <header class="mobile-header d-block d-lg-none pt--10 pb-md--10">
        <div class="container">
            <div class="row align-items-sm-end align-items-center">
                <div class="col-md-4 col-7">
                    <a href="/Home/Index" class="site-brand">
                        <img src="~/Content/Client/img/logo.png" alt="">
                    </a>
                </div>
                <div class="col-md-5 order-3 order-md-2">
                    <nav class="category-nav">
                        <div>
                            <a href="javascript:void(0)" class="category-trigger">
                                <i class="fa fa-bars"></i>Browse
                                categories
                            </a>
                            <ul class="category-menu">
                                @foreach (var item in Model)
                                {
                                    var url = "/Books/" + item.Slug + "-" + item.Id;
                                    <li class="cat-item "><a href="@url" name="catBook">@item.Name</a></li>
                                }
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="col-md-3 col-5  order-md-3 text-right">
                    <div class="mobile-header-btns header-top-widget">
                        <ul class="header-links">
                            <li class="sin-link">
                                <a href="cart.html" class="cart-link link-icon"><i class="ion-bag"></i></a>
                            </li>
                            <li class="sin-link">
                                <a href="javascript:" class="link-icon hamburgur-icon off-canvas-btn">
                                    <i class="ion-navicon"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--Off Canvas Navigation Start-->
    <aside class="off-canvas-wrapper">
        <div class="btn-close-off-canvas">
            <i class="ion-android-close"></i>
        </div>
        <div class="off-canvas-inner">
            <!-- search box start -->
            <div class="search-box offcanvas">
                <form>
                    <input type="text" placeholder="Search Here">
                    <button class="search-btn"><i class="ion-ios-search-strong"></i></button>
                </form>
            </div>
            <!-- search box end -->
            <!-- mobile menu start -->
            <div class="mobile-navigation">
                <!-- mobile menu navigation start -->
                <nav class="off-canvas-nav">
                    <ul class="mobile-menu main-mobile-menu">
                        <li class="menu-item-has-children">
                            <a href="/Home/Index">
                                Home
                            </a>
                        </li>
                        <!-- Shop -->
                        <!-- Books -->
                        <li class="menu-item">
                            <a href="/Books/">
                                Books
                            </a>
                        </li>
                        <!-- Flavors -->
                        <li class="menu-item">
                            <a href="/Flavors/">
                                Flavors
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="/Feedbacks">Contact</a>
                        </li>
                        <li><a href="/Feedbacks">Contact</a></li>
                    </ul>
                </nav>
                <!-- mobile menu navigation end -->
            </div>
            <div class="off-canvas-bottom">
                <div class="contact-list mb--10">
                    <a href="#" class="sin-contact"><i class="fas fa-mobile-alt"></i>(12345) 78790220</a>
                    <a href="#" class="sin-contact"><i class="fas fa-envelope"></i>examle@handart.com</a>
                </div>
                <div class="off-canvas-social">
                    <a href="#" class="single-icon"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="single-icon"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="single-icon"><i class="fas fa-rss"></i></a>
                    <a href="#" class="single-icon"><i class="fab fa-youtube"></i></a>
                    <a href="#" class="single-icon"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="single-icon"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </aside>
    <!--Off Canvas Navigation End-->
</div>
<div class="sticky-init fixed-header common-sticky">
    <div class="container d-none d-lg-block">
        <div class="row align-items-center">
            <div class="col-lg-4">
                <a href="index.html" class="site-brand">
                    <img src="~/Content/Client/img/logo.png" alt="">
                </a>
            </div>
            <div class="col-lg-8">
                <div class="main-navigation flex-lg-right">
                    <ul class="main-menu menu-right ">
                        <li class="menu-item">
                            <a href="/Home/Index">
                                Home
                            </a>
                        </li>
                        <!-- Shop -->
                        <!-- Books -->
                        <li class="menu-item">
                            <a href="/Books/">
                                Books
                            </a>
                        </li>
                        <!-- Flavors -->
                        <li class="menu-item">
                            <a href="/Flavors/">
                                Flavors
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="/Feedbacks">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=================================
    Hero Area
===================================== -->