@model App.ViewModels.Client.Customer.CustomerResetPasswordViewModel
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="breadcrumb-section">
    <h2 class="sr-only">Site Breadcrumb</h2>
    <div class="container">
        <div class="breadcrumb-contents">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="breadcrumb-item active">Reset password</li>
                </ol>
            </nav>
        </div>
    </div>
</section>

<main class="page-section inner-page-sec-padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb--30 mb-lg--0">
                <!-- Login Form s-->
                <div class="login-box">
                    <h4 class="login-title">New Customer</h4>
                    <p><span class="font-weight-bold">Register</span></p>
                    <p>
                        By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the
                        orders you have previously made.
                    </p>
                    <a href="@Url.Action("Register")" class="btn btn-outlined mr-3">Continue</a>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 col-xs-12">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="login-form">
                        <h4 class="login-title">Reset Password</h4>
                        <div class="row">
                            <div class="col-md-12 col-12 mb--15">
                                <label>New password</label>
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "mb-0 form-control", @placeholder = "New password" })
                                @Html.ValidationMessageFor(m => m.NewPassword)
                            </div>

                            <div class="col-md-12 col-12 mb--15">
                                <label>Confirm new password</label>
                                @Html.PasswordFor(m => m.ConfirmNewPassword, new { @class = "mb-0 form-control", @placeholder = "Confirm new password" })
                                @Html.ValidationMessageFor(m => m.ConfirmNewPassword)
                            </div>

                            <div class="col-md-12">
                                <button class="btn btn-outlined">Reset Password</button>

                                <p class="forget-pass mt-3"><a href="@Url.Action("ForgotPassword")">Forgot Password</a></p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</main>

